# Strings


    1.) Creating Strings
    2.) Printing Strings
    3.) String Indexing and Slicing
    4.) String Properties
    5.) String Methods
    6.) Print Formatting

In [1]:
# Single word
print('hello')

hello

In [1]:
# Entire phrase 
print('This is also a string 154451')

This is also a string 154451

In [2]:
# We can also use double quote
print("String built with double quotes")

String built with double quotes

In [3]:
# Be careful with quotes!
print(' I'm using single quotes, but this will create an error')

SyntaxError: invalid syntax (1272364499.py, line 2)

In [4]:
print("Now I'm ready to use the single quotes inside a string!")

Now I'm ready to use the single quotes inside a string!

## Printing a String

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [1]:
s = 'Hello World'
s2= '''sfdjkjkdjfjl 
fdsjkfdkjfkdjfkds
dfsjfhdjkfhhdskjkfs
fsdjhfldsjkhfkdhkfsk'''
#print(type(s))
print(s2)

sfdjkjkdjfjl
fdsjkfdkjfkdjfkds
dfsjfhdjkfhhdskjkfs
fsdjhfldsjkhfkdhkfsk

In [4]:
print('Hello World 1')
print('Hello \t World 2')
print('Use \n to print a new line')
print('\" \'')
print('hello I\"m minoo')
print('hello\b')
print('\101')
print('\x41')

print('See \\ what I mean?')

print('\u03A9')  # Output: Œ©

print('\N{GREEK CAPITAL LETTER OMEGA}')  # Output: Œ©
 
print('\U0001F600') 
print('\U0001F40D')

hello
A
A
See \ what I mean?
Œ©
Œ©
üòÄ
üêç

## String Basics

We can also use a function called len() to check the length of a string!

In [8]:
print('hello        w')
print(len('hello     w'))
print('Hello\tWorld')

hello        w
11
Hello	World

## String Indexing


In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python.

In [9]:
s = 'Hello World'
print(s)

Hello World

In [10]:
print(s[0])
print(s[1])
print(s[10])

H
e
d

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [11]:
print(s[2:])

'llo World'

In [12]:
print(s[:5])

'Hello'

In [13]:
print(s[1:])

'ello World'

In [14]:
print(s[:3])

'Hel'

In [15]:
print(s[::3])

'HlWl'

Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [18]:
# Note that there is no change to the original s

print(s)

'Hello World'

In [16]:
#Everything
print(s[:])

Hello World

In [17]:
# Last letter (one index behind 0 so it loops back around)
print(s[-1])

d

In [18]:
# Grab everything but the last letter
print(s[:-1])

Hello Worl

In [19]:
print(s[-3])

r

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements.

In [20]:
# Grab everything, but go in steps size of 1
print(s[:])

Hello World

In [21]:
# Grab everything, but go in step sizes of 2
print(s[::2])

HloWrd

In [22]:
# We can use this to print a string backwards
print(s[::-1])

dlroW olleH

## String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced.

In [23]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [24]:
print(s[0])

H

Something we *can* do is concatenate strings!

In [25]:
print(s + ' concatenate me!')

Hello World concatenate me!

In [26]:
# We can reassign s completely though!
s = s + ' concatenate me!'
print(s)

Hello World concatenate me!

We can use the multiplication symbol to create repetition!

In [27]:
letter = 'z'
l2 = letter*10
print(letter*10)

zzzzzzzzzz

## Basic Built-in String methods
These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments we can pass into the method.

In [28]:
print(s.upper())

HELLO WORLD CONCATENATE ME!

In [29]:
# Lower case
print(s.lower())

hello world concatenate me!

In [30]:
print(s.title())

Hello World Concatenate Me!

In [32]:
# Split a string by blank space (this is the default)
print(s.split())

['Hello', 'World', 'concatenate', 'me!']

In [33]:
# Split by a specific element (doesn't include the element that was split on)
print(s.split('W'))

['Hello ', 'orld concatenate me!']

In [34]:
string1 = "    Filet Mignon   "
string2 = "Brisket    "
string3 = "  Cheeseburger  dfsjhdhjsfj "

print(string1.rstrip())  # Could also use .lstrip()
print(string2.strip())  # Could also use .rstrip()
print(string3.strip())

    Filet Mignon
Brisket
Cheeseburger  dfsjhdhjsfj

In [40]:
string1 = "Becomes"
string2 = "becomes"
string3 = "BEAR"
string4 = "  bEautiful"

print(string1.startswith("be")) # endswith
print(string2.startswith("be"))
print(string3.startswith("be"))
print(string4.startswith("be"))

False
True
False
False

In [37]:
my_string = "mp"
my_int = 3
print(my_string + str(my_int))

mp3

In [38]:
a = input("Enter a number: ")
b = input("Enter another number: ")
product = float(a) * float(b)
print( a + " x " + b + " = " + str(product))

12.5 x 3 = 37.5

In [39]:
a = input("Enter a number: ")
b = input("Enter another number: ")
product = int(a) ** int(b)
print(str(a)+" in power of "+ str(b)+" is "+ str(product))

3 in power of 2 is 9

In [34]:
print("hello world".find("o"))
s = "python class Ai class ML class"
print(s.find('hello'))

4
-1

 Cannot find the string "a" in the string "AAA"

In [31]:
phrase = "Somebody said something to Samantha."
print('s' in phrase)
phrase = phrase.replace("s", "x")
print(phrase)

True
Somebody xaid xomething to Samantha.

In [6]:
s = 'A hello world this is A python'
#print(s.split())
print(s.rfind("A")) # rfind

22

In [47]:
email = input('Enter your email address')
dot = email.index('.') #rindex
print(email.split('@')[1])

Enter your email addresssayyadpour@yahoo.com
yahoo.com

In [50]:
print(s.count('ML'))

0

In [ ]:
my_text = input("Enter some text: ").lower()

my_text = my_text.replace("a", "4")
my_text = my_text.replace("b", "8")
my_text = my_text.replace("e", "3")
my_text = my_text.replace("l", "1")
my_text = my_text.replace("o", "0")
my_text = my_text.replace("s", "5")
my_text = my_text.replace("t", "7")

print(my_text)

In [ ]:
# s.isalpha()
# s.isdigit()
# s.isalnum()