# for Loops

A <code>for</code> loop acts as an iterator in Python; it goes through items that are in a *sequence* or any other iterable item. Objects that we've learned about that we can iterate over include strings, lists, tuples, and even built-in iterables for dictionaries, such as keys or values.

We've already seen the <code>for</code> statement a little bit in past lectures but now let's formalize our understanding.

Here's the general format for a <code>for</code> loop in Python:

    for item in object:
        statements to do stuff

The variable name used for the item is completely up to the coder, so use your best judgment for choosing a name that makes sense and you will be able to understand when revisiting your code. This item name can then be referenced inside your loop, for example if you wanted to use <code>if</code> statements to perform checks.

## Example 1
Iterating through a list

In [2]:
# We'll learn how to automate this sort of list in the next lecture
list1 = [1,2,3,4,5,6,7,8,9,10]

In [3]:
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

## Example 2
Let's print only the even numbers from that list!

In [4]:
for num in list1:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

We could have also put an <code>else</code> statement in there:

In [5]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number')

Odd number
2
Odd number
4
Odd number
6
Odd number
8
Odd number
10

## Example 3
Create a <code>for</code> loop that sums up the list:

In [6]:
# Start sum at zero
list_sum = 0 

for num in list1:
    list_sum = list_sum + num

print(list_sum)

55

Also we could have implemented a <code>+=</code> to perform the addition towards the sum.

In [7]:
# Start sum at zero
list_sum = 0 

for num in list1:
    list_sum += num

print(list_sum)

55

## Example 4
Remember strings are a sequence so when we iterate through them we will be accessing each item in that string.

In [8]:
for letter in 'This is a string.':
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g
.

*what about use that for index of any iterator*

## range

The range function allows you to quickly *generate* a list of integers, this comes in handy a lot, so take note of how to use it! There are 3 parameters you can pass, a start, a stop, and a step size.

In [1]:
print(range(0,11))

range(0, 11)

In [10]:
print(list(range(11)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
print(list(range(0,12)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [12]:
print(list(range(0,12,2)))

[0, 2, 4, 6, 8, 10]

In [14]:
print(tuple(range(10,101,10)))

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [15]:
string = 'This is a string.'
for i in range(0, len(string), 2):
    print(string[i:i+2])

Th
is
 i
s
a
st
ri
ng
.

## Example 5
Let's now look at how a <code>for</code> loop can be used with a tuple:

In [16]:
tup = (1,2,3,4,5)

for t in tup:
    print(t)

1
2
3
4
5

## Example 6
Tuples have a special quality when it comes to <code>for</code> loops. If you are iterating through a sequence that contains tuples, the item can actually be the tuple itself, this is an example of *tuple unpacking*. During the <code>for</code> loop we will be unpacking the tuple inside of a sequence and we can access the individual items inside that tuple!

In [17]:
list2 = [(2,4),(6,8),(10,12)]

In [18]:
for tup in list2:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [19]:
# Now with unpacking!
for (t1,t2) in list2:
    print(t1)

2
6
10

## Example 7

In [20]:
d = {'k1':1,'k2':2,'k3':3}

In [21]:
for item in d:
    print(item)

k1
k2
k3

Since the .items() method supports iteration, we can perform *dictionary unpacking* to separate keys and values just as we did in the previous examples.

In [22]:
# Dictionary unpacking
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

If you want to obtain a true list of keys, values, or key/value tuples, you can *cast* the view as a list:

In [23]:
print(list(d.keys()))

['k1', 'k2', 'k3']

Remember that dictionaries are unordered, and that keys and values come back in arbitrary order. You can obtain a sorted list using sorted():

In [24]:
sorted(d.values())

[1, 2, 3]

## Example 8
print each character in **"Python Course"**

In [25]:
for i in "Python Course":
    print(i)

P
y
t
h
o
n

C
o
u
r
s
e

## Example 9
print each word in **"Python Course"**

In [26]:
for i in "Python Course".split():
    print(i)

Python
Course

## Example 10
build a list of square of each number in range of 0 to 7

In [27]:
nums = list(range(8))

squares = []

for i in nums:
    squares.append(i**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49]

## Example 11
Find maximum element of a list

In [28]:
mylist = [3,5,12,7,65,35]
print(mylist[0])

max1 = mylist[0]

for i in mylist:
    if i > max1:
        max1 = i
        print("max1: ", max1)
        print("i: ", i)
print(max1)

3
max1:  5
i:  5
max1:  12
i:  12
max1:  65
i:  65
65

## Example 12
Display all the factors of a number chosen by the user

In [29]:
num = int(input("Enter a positive integer: "))
for divisor in range(1, num + 1):
    if num % divisor == 0:
        print(f"{divisor} is a factor of {num}")

Enter a positive integer: 15
1 is a factor of 15
3 is a factor of 15
5 is a factor of 15
15 is a factor of 15

## Nested for
Nested for loops in Python are when you have a loop inside another loop. It's like having a loop within a loop! Here's an example:
```
for item1 in object1:
    for item2 in object2:
        do things for item2 or item1
    do things for item1
```

One verifiable fact about nested for loops is that they can be used to iterate over multi-dimensional data structures like lists of lists. This can be really helpful when working with complex data.

In [36]:
for i in range(1, 11):
    for j in range(1, 6):
        result = i * j
        print(f"{i} * {j} = {result}",end = '\t')
        
    print()

1 * 1 = 1	1 * 2 = 2	1 * 3 = 3	1 * 4 = 4	1 * 5 = 5
2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25
6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35
8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40
9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45
10 * 1 = 10	10 * 2 = 20	10 * 3 = 30	10 * 4 = 40	10 * 5 = 50

In [39]:
rows = int(input('Enter number of rows: '))

# Outer loop for rows
for i in range(rows):
    # Print spaces before the stars
    for j in range(rows - i - 1):
        print(" ", end="")
    
    # Print stars
    for k in range(2 * i + 1):
        print("*", end="")
    
    print()

Enter number of rows: 7
      *
     ***
    *****
   *******
  *********
 ***********
*************

In [38]:
rows = int(input('Enter number of rows: '))

# Outer loop for rows
for i in range(rows):
    # Print spaces before the stars
    for j in range(i):
        print(" ", end="")
    
    # Print stars
    for k in range(2 * (rows - i) - 1):
        print("*", end="")
    
    print()

Enter number of rows: 5
*********
 *******
  *****
   ***
    *

# Quiz

**Get a list of height of student from user and calculate the average of height**

**Get a list of students scores from user and calculate the maximum of scores**

**get a number from user and show all prime numbers from 1 to that number**