# Number Data Type and Arithmetic in Python!

In this lecture, we will learn about numbers in Python and how to use them.

We'll learn about the following topics:

    1.) Types of Numbers in Python
    2.) Basic Arithmetic
    3.) Differences between classic division and floor division
    4.) Object Assignment in Python

### Basic Arithmetic

In [1]:
print('salam')

salam

In [3]:
# Addition
print(2+1)

3

In [2]:
# Subtraction
print(2-1)

1

In [4]:
# Multiplication
print(2*3)

6

In [5]:
# Division
print(4/2)

2.0

In [5]:
# Floor Division
print(7/4)
print(7//4)

1.75
1

We get this result is because we are using "*floor*" division. The // operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.

In [6]:
# Modulo
print(7%4)

3

The % operator returns the remainder after division.

In [7]:
# Powers
print(2**3)

8

In [6]:
print(3**5)

243

In [8]:
# do roots this way
print(4**0.5)

2.0

In [9]:
print(27**(1/3))

3.0

In [7]:
# Order of Operations followed in Python
print(2 + 10 * (10 + 3))

132

In [9]:
print(3*2/4)

1.5

In [11]:
# Can use parentheses to specify orders
print((2+10) * (10+3))

156

## Variable Assignments

We use a single equals sign to assign labels to variables. Variable assignment follows `name = object`, where a single equals sign `=` is an *assignment operator*

In [11]:
a = 5.37
print(type(a))

<class 'float'>

In [12]:
string = 'hello'
print(type(string))

<class 'str'>

In [13]:
print(a+a)

10.74

In [14]:
a = 20

In [15]:
# Check
print(a)

20

In [16]:
# Use A to redefine A
a = a + a

In [17]:
print(a)

40

In [18]:
num1 = 25_000_000
num2 = 25000000
print(num1)
print(num2)

25000000
25000000

In [19]:
num = 1.75e5
print(num)
print(2e308)

175000.0
inf

## Variable Name Rules
The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. Avoid using words that have special meaning in Python like "list" and "str"
    + 5. It's considered best practice (PEP8) that names are lowercase.
    + 6. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
       or 'I' (uppercase letter eye) as single character variable names.

In [23]:
myname = 'minoo'
m = float(input('Enter your score: '))
print('Your score is ',m+1)

Enter your score: 15.75
Your score is  16.75

In [20]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate
print(my_taxes)

10.0

## Reassigning Variables

There's actually a shortcut for this. Python lets you add, subtract, multiply and divide numbers with reassignment using `+=`, `-=`, `*=`, and `/=`.

In [21]:
a=0
a += 10
print(a)

10

In [34]:
a = 10
#a=a+a 
a+=a
print(a)

20

In [35]:
a *= 2
print(a)

40

## Determining variable type
You can check what type of object is assigned to a variable using Python's built-in `type()` function. Common data types include:
* **int** (for integer)
* **float**
* **str** (for string)
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

In [24]:
print(type(a))

<class 'int'>

In [25]:
#Boolean
t, f = True, False
print(type(t))
print(t)
print(f)

<class 'bool'>
True
False

In [37]:
num1=int(input('Enter first number: ')) #20
num2 = int(input('Enter second number: ')) #30
print(num1,num2)
#temp = num1
#num1 = num2
#num2 = temp

num1,num2=num2,num1
print(num1,num2)

Enter first number: 20
Enter second number: 30
20 30
30 20

In [26]:
#swapping
data1 = 7 
data2 = 12
data3 = 23
data4 = 33

data1, data2, data3 , data4 = data2 , data1, data4, data3

print(data1, data2, data3, data4)

12 7 33 23

In [27]:
print(35+67)

102

In [28]:
print("35"+"67")

3567

In [29]:
print(1+'2')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Some Important functions

In [30]:
print(a)
print('hello world')

20
hello world

In [31]:
a = input('write something ')
print('what you wrote was : ',a)

what you wrote was :  123

In [32]:
num1 = float(input('Enter a number '))
num1*=3
print(num1)

37.5

**Get two numbers from user one for base and one for power.**

In [ ]:
a= int(input('enter base number: '))
b = int(input('enter base number: '))

## Comments in python code

In [52]:
# This is a comment and won't be run
"""
    this is another comment known as summary
    and it will be used to have multiple lines comments
    it won't be run again
    """
'''
three single quotation is also used to indicate multiple
line comments
when you run the code they won't be executed.
'''

but this is not a comment and gets error

SyntaxError: invalid syntax (1576252560.py, line 13)

In Python, errors can be broadly categorized into three main types: syntax errors, runtime errors, and logical errors.

1. Syntax Errors:
Syntax errors occur when the code is not written according to the syntax rules of the Python language. These errors are detected by the Python interpreter during the parsing of the code. Common syntax errors include missing colons, incorrect indentation, misspelled keywords, and missing parentheses.

In [25]:
#print("x is 5"
a= 'name

SyntaxError: unterminated string literal (detected at line 2) (1857184325.py, line 2)

2. Runtime Errors:
Runtime errors, also known as exceptions, occur during the execution of the program. These errors are not detected by the Python interpreter until the code is actually running. Common runtime errors include division by zero, accessing an index out of range, and trying to use a variable that has not been defined.

In [3]:
x = 5
y = 0
result = x / y
print(result)

ZeroDivisionError: division by zero

3. Logical Errors:
Logical errors occur when the code runs without any syntax or runtime errors, but produces incorrect results due to a mistake in the logic of the program. These errors are the most difficult to detect and fix because they do not cause the program to crash or throw an error.

In [26]:
average = (123+125+127)/3
print(average)

125.0

## Space and blocks in python code
In Python, blocks of code are defined by indentation. A block of code is a group of statements that are executed together as a single unit. <br>
Blocks are used to define loops, conditional statements, function definitions, and other structures in Python. <br>
The beginning and end of a block are determined by the level of indentation. All statements within the same block must have the same level of indentation.

In [28]:
print('first')  print('second')

SyntaxError: invalid syntax (1134630102.py, line 1)

In [31]:
print('first')




            print('second')

IndentationError: unexpected indent (174960967.py, line 6)

In [55]:
print('first') 
print('second')

first
second

## Import module or libraries

In [56]:
import math 
print(math.sqrt(16))
print(math.pi)

4.0
3.141592653589793

In [47]:
import random as r
print(r.random())

0.7676345320762006

In [50]:
from random import randint, randrange
#from random import *
print(randint(0,10))

10

**Get radius of circle from user and calculate area and perimeter**

## Project

ðŸ§® Welcome to the restaurant bill Calculator! ðŸ§®
What was the total bill? $2000
What percentage tip would you like to give? 10, 12, or 15? 10
How many people to split the bill? 5
ðŸ§® Each person should pay:  440.0

## Built-in Functions

In [1]:
user_input = input("Enter a number: ")
num = float(user_input)
print(f"{num} rounded to 2 decimal places is {round(num, 2)}")

Enter a number: 12.356879331
12.356879331 rounded to 2 decimal places is 12.36

In [3]:
user_input = input("Enter a number: ")
num = float(user_input)
print(f"The absolute value of {num} is {abs(num)}")

Enter a number: -1
The absolute value of -1.0 is 1.0

In [4]:
num1 = float(input("Enter a number: "))
num2 = float(input("Enter another number: "))
print(f"The difference between {num1} and {num2} is an integer? "
    f"{(num1 - num2).is_integer()}!")

Enter a number: 12.5
Enter another number: 13.5
The difference between 12.5 and 13.5 is an integer? True!

In [5]:
print(isinstance("5.5",float)) #5,int

False

In [38]:
print(pow(4, 3))

64

In [6]:
print(oct(140))

0o214

In [8]:
print(hex(134))

0x86

In [41]:
print(bin(36))

0b100100

In [42]:
print(help(hex))

Help on built-in function hex in module builtins:

hex(number, /)
    Return the hexadecimal representation of an integer.

    >>> hex(12648430)
    '0xc0ffee'

None

In [43]:
print(chr(99)) #Convert back to unicode

c

In [44]:
print(divmod(10, 3)) # returns the quotient  and the remainder

(3, 1)

### minoosayyadpour3@gmail.com